# Composer
/vendor/*
!/vendor/inspector-apm/
/vendor/inspector-apm/*
!/vendor/inspector-apm/neuron-ai/
composer.lock

# Environment files
.env
.env.backup
.env.production

# IDE & Editors
/.idea
/.vscode
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
/logs/*
!/logs/.gitkeep

# Cache
/.phpunit.result.cache